@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins:wght@200&display=swap');
$Desktop-width:1200px;
$Tablet-width:768px;
$Phone-width:480px;
$FontPrincipal: 'Baloo 2', cursive;
$FontSecondary: 'Poppins', sans-serif;
$color-primary:#0361E4;
$color-white: #ffffff;
*{
    padding: 0px;
    margin: 0px;
}
@mixin Desktop {
    @media (min-width:#{$Desktop-width}){
        @content;
    }
}

@mixin Tablet {
    @media (min-width: #{$Tablet-width}) and (max-width:#{$Desktop-width - 1px}){
        @content;
    }
}

@mixin Phone {
    @media (max-width:#{ $Tablet-width - 1px }) {
        @content;
    }
}

@mixin keyframes-animation($name){
    @-webkit-keyframes #{$name} {
        @content;
    }    
    @-o-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name}{
        @content;
    }
    @keyframes #{$name} {
        @content;     
    }
}

@mixin animation-property($name,$value){
    -webkit-#{$name}:$value;
    -moz-#{$name}:$value;
    -o-#{$name}:$value;
    #{$name}:$value;
}

.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.d-flex{
    display: flex;
}

.onlyDesktop{
    display: none !important;
    @include Desktop{
        display: flex !important;
    }
}
.onlyTabletDesktop{
    display: none;
    @include Tablet{
        display: flex;
    }
    @include Desktop{
        display: flex;
    }
}
.onlyTabletPhone{
    display: none;
    @include Tablet{
        display: flex;
    }
    @include Phone{
        display: flex;
    }
}
.strech{
    justify-content: space-between;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fullContent{
    width: 80%;
}
.sm-12{
    @include Phone{
        width: 100%;
    }
}
.mid-12{
    @include Tablet{
        width: 100%;
    }
}
.mid-6{
    @include Tablet{
        width: 50%;
    }
}
.lg-8{
    @include Desktop{
        width: calc(100% * (8/12));
    }
}
.lg-7{
    @include Desktop{
        width: calc(100% * (7/12));
    }
}
.lg-6{
    @include Desktop{
        width: 50%;
    }
}
.lg-5{
    @include Desktop{
        width: calc(100% * (5/12));
    }
}
.lg-4{
    @include Desktop{
        width: calc(100% * (4/12));
    }
}
.lg-3{
    @include Desktop{
        width: calc(100% * (3/12));
    }
}