@import "./general.styles.scss";

.title{
    font-family: $FontPrincipal;
    color: $color-primary;
    font-size: 36px;
    margin-left: 16px;
}
.totalizar{
    position: sticky;
    top: 80px;
    width: 100%;
    height: auto;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 380px;
    margin-left: 24px;
    margin-top: 16px;
    .sells{
        padding: 16px;
        font-size: 24px;
        font-family: $FontPrincipal;
        background-color: #3ec400;
        color: #fff;
        border:1px transparent;
        border-radius: 5px;
    }
    .input{
        padding: 8px;
        width: 90%;
        font-size: 16px;
        font-family: $FontPrincipal;
        margin-top: 10px;
    }
    @include Tablet{
        width: 350px;
        margin-top: 16px;
    }
    @include Desktop{
        width: 400px;
        margin-top: 0px;
    }
    background-color: #c4c4c4;
    display: flex;
    flex-direction: column;
    .total{
        font-family: $FontPrincipal;
        font-size: 36px;
    }
}
.page{
    width: 100%;
}
.target-list{
    margin-left: 24px;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    .content{
        width: 100%;
        padding: 16px;
        border:1px solid $color-primary;
        background-color: $color-primary;
        color:#fff;
        @include Tablet{
            width: 400px;
        }
        @include Desktop{
            width: 480px;
        }
    }
    .buttonContainer{
        .buttonDelete{
            width: 100%;
            height: 100%;
            padding: 8px;
            border: 1px transparent;
            background-color: #f20000;
            color: #fff;
            font-family: $FontPrincipal;
            transition: background 1s, color 1s;
            &:hover{
                background-color: #fff;
                color: #f20000;
                cursor: pointer;
            }
        }
    }
    @include Tablet{
        width: 504px;
    }
    @include Desktop{
        width: 560px;
    }
}

.container{
    width: 100%;
    .fullDesktop{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include Tablet{
            width: 80%;
        }
        @include Phone{
            width: 100%;
        }
    }
}