@import 'general.styles';

.navbar{
    width: 100%;
    height: 72px;
    background: $color-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title{
        font-size: 36px;
        @include Tablet{
            font-size: 24px;
        }
        @include Phone{
            font-size: 24px;
        }
        font-family: $FontPrincipal;
        display: block;
        margin-left: 16px;
        color:$color-white;
        font-weight: bold;
    }
    .submenu{
        display: flex;
        flex-direction: row;
        .sublink{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 16px;
            height: 72px;
            color: $color-white;
            text-decoration: none;
            font-size: 16px;
            padding-left: 16px;
            padding-right: 16px;
        }
        .selected{
            background: #9cc6ff;
        }
    }
    .button{
        background: $color-primary;
        height: 72px;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-white;
        border: 0px;
    }
    .onlyDesktop{
        display: none;
    }
    .onlyTablet{
        display: none;
    }
    .onlyMobile{
        display: flex;
    }
    .rightMenu{
        .myFlights_link{
            background: $color-white;
            height: 72px;
            padding-right: 16px;
            padding-left: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-family: $FontSecondary;
            text-decoration: none;
            color:$color-primary;
            .iconFly{
                width: 40px;
                height: 32px;
                margin-left: 16px;
            }
        }
        .selected{
            background: #9cc6ff;
            color:$color-white;
        }
        .searchButton{
            &:hover{
                cursor: pointer;
                background: $color-white;
                color: $color-primary;
            }
        }
        .icon{
            width: 40px;
            height: 32px;
            margin-left: 16px;
        }
    }
    .leftmenu{
        .hamburger_menu{
            width: 100%;
            .icon{
                width: 40px;
                height: 32px;
                margin-left: 16px;
            }
            &:hover{
                cursor: pointer;
                background: $color-white;
                color: $color-primary;
            }
        }
    }
    @include Tablet{
        .onlyDesktop{
            display: none;
        }
        .onlyTablet{
            display: flex;
        }
        .onlyMobile{
            display: none;
        }
    }
    @include Desktop{
        .onlyDesktop{
            display: flex;
        }
        .onlyTablet{
            display: none;
        }
        .onlyMobile{
            display: none;
        }
        .noDesktop{
            display: none;
        }
    }
}
.toggle-menu{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0px;
    left: 0px;
    background-color: $color-primary;
    z-index: 100;
    .title{
        font-family: $FontPrincipal;
        font-size: 36px;
        @include Phone{
            font-size: 24px;
        }
        margin-bottom: 32px;
        margin-top: 16px;
        color: $color-white;
    }
    &.noDesktop{
        display: flex;
        @include Desktop{
            display: none;
        }
    }
    &.off{
        display: none;
    }
    &.on{
        display: flex;
    }
    .selected{
        background-color: $color-white;
        color: $color-primary !important;
    }
    .sublink{
        width: 100%;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 72px;    
        font-size: 36px;
        @include Phone{
            font-size: 24px;
        }
        font-family: $FontSecondary;
        text-decoration: none;
    }
    
}